# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environment / Secrets
.env
.env.*
.secrets.baseline

# Python version
.python-version

# Data & Cache
/db/
/user_cache/
/ml_models/
/data_test_path

# Temp files
/try*.py
